<!DOCTYPE html>
<html>
  <head>
    <title>Bloccit</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container-fluid">
        
        <!-- BEGIN JUMBOTRON /////////// -->
        <div class="jumbotron jumbotron-billboard">
            <div class="img"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <%= image_tag('https://d30y9cdsu7xlg0.cloudfront.net/png/1182189-200.png', size:'45x45', :alt => "logo" ) %>
                            
                            <h1><%= "Welcome to Blocipedia" %></h1>
                            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                            <%= link_to "Sign Up", root_path, :class => 'btn btn-primary'  %>
                    </div>
                </div>
            </div>
        </div>
        <!-- END JUMBOTRON //////////////-->
        
        <!-- BEGIN WIKIS ////////////////-->
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        Wiki Topic
                    </div>
                    <img class="card-img-top" src="https://placeimg.com/400/200/any/grayscale" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Wiki title</h5>
                        <small><p>Wiki Creator</p></small>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Collaborate</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                    Wiki Topic
                    </div>
                    <img class="card-img-top" src="https://placeimg.com/400/200/any/grayscale" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Wiki title</h5>
                    <small><p>Wiki Creator | created at ...</p></small>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Collaborate</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        Wiki Topic
                    </div>
                    <img class="card-img-top" src="https://placeimg.com/400/200/any/grayscale" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Wiki title</h5>
                        <small><p>Wiki Creator</p></small>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Collaborate</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END WIKIS ////////////////-->
    </div>
  </body>
  </html>
