<!DOCTYPE html>
<html>
  <head>
    <title>WikiWhat</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   <%= render :partial => 'shared/nav' %>
  <body>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-10">
            <h1>Checkout Wikis</h1>
          </div>
          <div class="col-lg-2">
            <% if user_signed_in? %>
              <%= link_to "Create a new wiki", new_wiki_path, :class => 'btn btn-primary' %>
            <%end%>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <% @wikis.each do |wiki| %>
              <div class="card" style="width: 100%;">
                <div class="card-header">
                  <h4><%= wiki.title %></h4>
                </div>
                <div class="card-body">
                  <p class="card-text"><%= wiki.body %></p>
                  <%= link_to "View", wiki, class: 'card-link'%>
                </div>
              </div>
              <div style="margin: 1em;"></div>
            <% end %>
          </div>
        </div>
    </div>
</div>